* {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
#container {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: beige;
    height: 100%;
    width: 1400px;
    margin: auto;
}
.title {
    color: white;
    background-color: black;
    width: 500px;
    margin: auto;
}
input {
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    width: 290px;
    height: 30px;
}
input.submit {
    background-color: green;
    color: black;
    font-weight: 900;
    margin-top: 30px;
    width: 200px;
}
.succes {
    color: green;
    margin: 10px;
    font-size: 30px;
}
#box_database {
    padding: 10px;
    border: 1px solid black;
    float: left;
    width: 220px;
    height: 250px;
    background-color: #f2f2f2;
    margin-left: 10px;
}
#info {
    color: white;
    border-bottom: 1px solid white;
    font-size: 20px;
    background-color:rgb(77, 77, 77);
    color: white;
    font-weight: 400;;
    border-radius: 20px;
}
#parametr {
    color: red;
    border: 2px solid black;
    background-color: yellow;
    width: 250px;
    margin-top: 20px;
    float: right;
}